
body {
    margin: 0;
    font-family: 'Comfortaa', cursive;
}

.game-intro, .win, .lose {

    display: flex;
    background-image: url('images/Beach-Background.jpg');
    background-size:cover;
    align-items: center;
    text-align: center; 
    width: 100vw;
    height: 100vh;
    justify-content: center;
    flex-direction: column;   
}

.intro-info {
    margin-top: 50px;
    justify-content: space-between;
}

.intro-info p {
    margin-top: 50px;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
}


  #gameplay {
      justify-content: center;
  }

  .dog-running {
      size: 200,200;
      
  }

  .portal {
      size: 250, 450;
      position: 975, 425;
  }

  .intro-images {
      display: flex;
      justify-content:space-around;
      width: 100%;
      align-items: center;
      margin-top: auto;
  }

  #start-button {
      background-color: #008080;
      color: white;
      margin-top: 20px;
      width: 10%;
      border-radius: 12px

  }

  .win, .lose {
      justify-content: space-around;
  }

  #restart-buttonLose, #restart-buttonWin {
    background-color: #008080;
    color: white;
    width: 10%;
    border-radius: 12px
  }